@charset "UTF-8";
/* v2.0 | 20110126
  http://meyerweb.com/eric/tools/css/reset/ 
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

@font-face {
  font-family: "genesis-light";
  src: url(../../fonts/GenesisSansHeadOffice-Light.woff2) format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "genesis-re";
  src: url(../../fonts/GenesisSansHeadOffice-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "genesis-text";
  src: url(../../fonts/GenesisSansTextOffice-Regular.woff2) format("woff2");
  font-weight: 300;
  font-style: none;
}
.inner {
  width: 100%;
  height: 100%;
  padding: 0px 140px;
  box-sizing: border-box;
  position: relative;
  top: 0px;
  left: 0px;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  border: none;
  z-index: -1;
}

body, html {
  font-size: 10px;
  font-family: "genesis-light", "sans-serif";
  line-height: 1;
  letter-spacing: -1.5px;
}

.header-container {
  width: 100%;
  height: 70px;
  background: #000000;
}
.header-container .inner {
  display: flex;
  align-items: center;
}
.header-container .inner .logo {
  width: 128px;
  margin-right: 70px;
}
.header-container .inner .gnb {
  height: 100%;
}
.header-container .inner .gnb .gnb-list {
  display: flex;
  gap: 60px;
  height: 100%;
}
.header-container .inner .gnb .gnb-list a {
  display: flex;
  align-items: center;
  height: 100%;
  color: #bbbbbb;
  font-size: 15px;
  transition: 0.3s;
}
.header-container .inner .gnb .gnb-list a:hover {
  color: #ffffff;
}
.header-container .inner .h-right {
  margin-left: auto;
  display: flex;
  height: 100%;
}
.header-container .inner .h-right a {
  color: #bbbbbb;
  font-size: 15px;
  display: flex;
  align-items: center;
  height: 100%;
  transition: 0.3s;
}
.header-container .inner .h-right a:hover {
  color: #ffffff;
}
.header-container .inner .h-right img {
  display: none;
}
.header-container .inner .h-right .cs-link,
.header-container .inner .h-right .my-link {
  margin-right: 20px;
}
.header-container .inner .h-right .search-btn {
  width: 25px;
  height: 100%;
  background: url(../../images/icon-search-small.png) no-repeat center center;
}
.header-container .inner .h-right .mobile-btn {
  padding: 0px 20px;
  display: flex;
  height: 100%;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
}
.header-container .inner .h-right .mobile-btn i {
  width: 20px;
  height: 2px;
  background: #ffffff;
}

.bar {
  width: 1px;
  height: 20px;
  display: block;
  margin: 0px 0px 0px 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.2);
}

.f-container {
  background-color: #111111;
}
.f-container .inner {
  padding: 0px 140px;
}
.f-container .f-sns {
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  padding: 20px 0px;
}
.f-container .f-sns .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f-container .f-sns .inner .f-sns-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.f-container .f-sns .inner .f-sns-left span {
  color: #ffffff;
  font-size: 16px;
  font-family: "genesis-text", "sans-serif";
  letter-spacing: -0.5px;
}
.f-container .f-sns .inner .f-sns-left .f-sns-list {
  display: flex;
  gap: 20px;
}
.f-container .f-sns .inner .f-sns-left .f-sns-list li:hover a {
  color: rgb(255, 255, 255);
}
.f-container .f-sns .inner .f-sns-left .f-sns-list li a {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}
.f-container .f-sns .inner .f-sns-left .f-sns-btn {
  font-size: 20px;
  border: none;
  background: transparent;
  color: #ffffff;
  display: none;
}
.f-container .f-sns .inner .f-top-btn {
  color: #ffffff;
  font-size: 16px;
  font-family: "genesis-text", "sans-serif";
  letter-spacing: -0.5px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.f-container .f-sns .inner .f-top-btn i {
  font-size: 20px;
}
.f-container .f-notice {
  padding: 30px 0px;
}
.f-container .f-notice .inner {
  display: flex;
  gap: 20px;
  align-items: center;
}
.f-container .f-notice .inner .notice-list {
  width: 100%;
}
.f-container .f-notice .inner .notice-list a {
  display: block;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: -0.5px;
}
.f-container .f-notice .inner .notice-controls {
  display: flex;
  gap: 15px;
  align-items: center;
}
.f-container .f-notice .inner .notice-controls button {
  background: transparent;
  border: none;
  font-size: 25px;
  color: #ffffff;
  padding: 0px;
}
.f-container .f-sitemap {
  background: #151515;
  padding: 90px 0px;
}
.f-container .f-sitemap .inner .f-sitemap-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 0px;
}
.f-container .f-sitemap .inner .f-sitemap-list .item {
  width: 25%;
}
.f-container .f-sitemap .inner .f-sitemap-list .item strong {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 20px;
  display: inline-block;
}
.f-container .f-sitemap .inner .f-sitemap-list .item .sitemap-btn {
  display: none;
  width: 100%;
  color: #ffffff;
  padding: 20px 30px;
  box-sizing: border-box;
  justify-content: space-between;
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  font-size: 14px;
}
.f-container .f-sitemap .inner .f-sitemap-list .item .sitemap-btn .bx {
  font-size: 22px;
}
.f-container .f-sitemap .inner .f-sitemap-list .item .sub-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.f-container .f-sitemap .inner .f-sitemap-list .item .sub-menu li:hover a {
  color: rgb(255, 255, 255);
}
.f-container .f-sitemap .inner .f-sitemap-list .item .sub-menu li a {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  letter-spacing: -0.5px;
  transition: 0.5s;
}
.f-container .f-company {
  padding: 30px 0px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
.f-container .f-company .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.f-container .f-company .inner .f-company-list {
  display: flex;
  align-items: center;
}
.f-container .f-company .inner .f-company-list li {
  padding: 0px 20px;
  position: relative;
  top: 0px;
  left: 0px;
}
.f-container .f-company .inner .f-company-list li:first-of-type {
  padding-left: 0px;
}
.f-container .f-company .inner .f-company-list li:last-of-type {
  padding-right: 0px;
}
.f-container .f-company .inner .f-company-list li:after {
  content: "";
  display: block;
  width: 1px;
  height: 15px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: -3px;
  right: -2px;
}
.f-container .f-company .inner .f-company-list li:last-of-type:after {
  display: none;
}
.f-container .f-company .inner .f-company-list li a {
  color: #dddddd;
  font-size: 14px;
}
.f-container .f-company .inner .f-company-list .privacy a {
  color: orange;
}
.f-container .f-company .inner .f-company-sns {
  display: flex;
  gap: 10px;
  align-items: center;
}
.f-container .f-company .inner .f-company-sns li a {
  font-size: 28px;
  color: #ffffff;
  padding: 0px 10px;
}
.f-container .f-genesis {
  padding: 30px 0px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
.f-container .f-genesis .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.f-container .f-genesis .inner .f-genesis-list {
  display: flex;
  gap: 20px 40px;
  flex-wrap: wrap;
  align-items: center;
}
.f-container .f-genesis .inner .f-genesis-list li a {
  display: flex;
  color: #ffffff;
  font-size: 14px;
  align-items: center;
  gap: 10px;
}
.f-container .f-genesis .inner .f-genesis-list li a .bx {
  font-size: 16px;
}
.f-container .f-genesis .inner .f-lang {
  display: flex;
  align-self: center;
}
.f-container .f-genesis .inner .f-lang a {
  display: flex;
  width: 80px;
  height: 36px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  letter-spacing: 0px;
  font-weight: 700;
}
.f-container .f-genesis .inner .f-lang .eng {
  color: #ffffff;
  background: #222222;
}
.f-container .f-genesis .inner .f-lang .kor {
  color: #222222;
  background: #ffffff;
}
.f-container .f-copy {
  padding: 50px 0px;
}
.f-container .f-copy .inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.f-container .f-copy .inner .f-img {
  position: absolute;
  top: 0px;
  right: 140px;
}
.f-container .f-copy .inner .f-logo {
  width: 130px;
}
.f-container .f-copy .inner .copy {
  color: #dddddd;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: -0.5px;
}

.container {
  width: 100%;
  background: #111111;
}

.visual-container {
  width: 100%;
  height: calc(100vh - 70px);
  min-height: 610px;
  position: relative;
  top: 0px;
  left: 0px;
  /*visual-list*/
}
.visual-container .visual-list {
  width: 100%;
  height: 100%;
}
.visual-container .visual-list li {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  background: url(../../images/main-visual06.jpg) no-repeat center center/cover;
}
.visual-container .visual-list li .visual-text {
  padding-left: 338px;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 50px;
}
.visual-container .visual-list li .visual-text:after {
  content: "";
  width: 338px;
  height: 70px;
  box-sizing: border-box;
  border-top: solid 3px #ffffff;
  border-bottom: solid 3px #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
}
.visual-container .visual-list li .visual-text .sub-text {
  font-size: 20px;
  color: #ffffff;
  font-family: "genesis-text", "sans-serif";
  font-weight: 100;
}
.visual-container .visual-list li .visual-text .title {
  font-size: 80px;
  color: #ffffff;
  margin: 14px 0px;
  font-weight: 300;
}
.visual-container .visual-list li .visual-text .text-link {
  position: absolute;
  bottom: 23%;
  display: flex;
  gap: 60px;
}
.visual-container .visual-list li .visual-text .text-link a {
  color: #ffffff;
  font-size: 16px;
  font-family: "genesis-text", "sans-serif";
  display: flex;
  gap: 8px;
}
.visual-container .visual-list li .visual-text .text-link a:after {
  content: "";
  width: 7px;
  height: 13px;
  display: block;
  background: url(../../images/ico-arrow-white.png) no-repeat center center/7px;
  transform: rotate(180deg);
}
.visual-container .visual-control {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 13.8%;
  display: flex;
  align-items: center;
  gap: 30px;
}
.visual-container .visual-control .dot-list {
  display: flex;
  gap: 20px;
}
.visual-container .visual-control .dot-list li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  border: solid 2px transparent;
  background-clip: padding-box;
  /*
  background-clip
  배경 이미지나 배경 컬러를 영역 어디까지 설정하는지에 정하는 속성
  border-box : 테두리 영역과 그 안쪽까지 채움
  content-box : 컨텐츠 내용만 영역을 채움
  padding-box : 안쪽 여백 영역만큼만 영역을 채움

  */
}
.visual-container .visual-control .dot-list li.on {
  border-color: #ffffff;
  background: transparent;
}
.visual-container .visual-control .pause-btn {
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
}
.visual-container .visual-control .pause-btn .bx-play {
  display: none;
}

.model-container {
  padding: 200px 0px 270px 200px;
}
.model-container .title-box {
  margin-bottom: 30px;
}
.model-container .title-box .title {
  font-size: 42px;
  color: #ffffff;
  font-weight: 300;
}
.model-container .title-box .text {
  margin-top: 30px;
  font-size: 16px;
  color: #ffffff;
}
.model-container .category {
  width: 300px;
  margin-bottom: 90px;
  border-bottom: solid 1px #ffffff;
}
.model-container .category a {
  padding: 12px 0px 12px 10px;
  color: #ffffff;
  font-size: 16px;
  display: flex;
}
.model-container .category a:after {
  content: "";
  width: 13px;
  height: 9px;
  background: url(../../images/w-ico-arrow-top.png) no-repeat center center/12px;
  margin-left: auto;
  transform: rotate(180deg);
}
.model-container .category-m {
  width: 100%;
  margin: 50px 0px;
  padding: 0px 30px;
  box-sizing: border-box;
  display: none;
}
.model-container .category-m .category-list {
  display: flex;
}
.model-container .category-m .category-list li {
  width: 33%;
  border-bottom: solid 1px #bbbbbb;
}
.model-container .category-m .category-list li a {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  color: #bbbbbb;
  font-size: 18px;
}
.model-container .category-m .category-list li.on {
  border-color: #ffffff;
}
.model-container .category-m .category-list li.on a {
  color: #ffffff;
}
.model-container .model-wrapper .model-list {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}
.model-container .model-wrapper .model-list li {
  background: #151515;
  padding: 40px;
  position: relative;
  top: 0px;
  left: 0px;
}
.model-container .model-wrapper .model-list li .content-box {
  position: relative;
  top: 0px;
  left: 0px;
  margin-bottom: 50px;
}
.model-container .model-wrapper .model-list li .content-box .text {
  color: #bbbbbb;
  font-size: 16px;
  margin-bottom: 10px;
  min-height: 14px;
  transition: 0.5s;
}
.model-container .model-wrapper .model-list li .content-box .title {
  color: #bbbbbb;
  font-size: 30px;
  transition: 0.5s;
  font-weight: 300;
}
.model-container .model-wrapper .model-list li .content-box .icon-list {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  gap: 10px;
}
.model-container .model-wrapper .model-list li:nth-of-type(1) .content-box .text {
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin-bottom: 0px;
}
.model-container .model-wrapper .model-list li:nth-of-type(1) .content-box .title {
  padding-bottom: 30px;
}
.model-container .model-wrapper .model-list li .dic-btn {
  width: 100%;
  height: 54px;
  box-sizing: border-box;
  border: solid 2px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  position: relative;
  top: 0px;
  left: 0px;
  margin-top: 40px;
  transition: 0.5s;
  z-index: 1;
}
.model-container .model-wrapper .model-list li .dic-btn:after {
  content: "";
  width: 0px;
  height: 100%;
  background: #ffffff;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.5s;
  z-index: -1;
}
.model-container .model-wrapper .model-list li .dic-btn:hover {
  color: #151515;
}
.model-container .model-wrapper .model-list li .dic-btn:hover:after {
  width: 100%;
}
.model-container .model-wrapper .dot-wrapper {
  display: flex;
  justify-content: center;
}
.model-container .model-wrapper .dot-wrapper .dot-list {
  display: flex;
  align-items: center;
  gap: 16px;
}
.model-container .model-wrapper .dot-wrapper .dot-list li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  border: solid 2px transparent;
  background-clip: padding-box;
}
.model-container .model-wrapper .dot-wrapper .dot-list li.on {
  background: transparent;
  border-color: #ffffff;
}

.icon-container {
  padding: 0px 100px 250px;
}
.icon-container .icon-list {
  display: flex;
  justify-content: center;
}
.icon-container .icon-list li {
  flex-grow: 1;
}
.icon-container .icon-list li a {
  display: flex;
  color: #ffffff;
  background: url(../../images/quitation.gif) no-repeat center top;
  padding-top: 80px;
  justify-content: center;
  font-size: 16px;
}
.icon-container .icon-list li .icon-sales {
  background-image: url(../../images/sales.gif);
}
.icon-container .icon-list li .icon-drive {
  background-image: url(../../images/drive.gif);
}
.icon-container .icon-list li .icon-catalog {
  background-image: url(../../images/catalog.gif);
}

.award-container {
  padding-bottom: 250px;
}
.award-container .title-box {
  padding-left: 330px;
  margin-bottom: 80px;
}
.award-container .title-box .title {
  font-size: 42px;
  color: #ffffff;
  font-weight: 300;
}
.award-container .award-wrapper {
  position: relative;
  top: 0px;
  left: 0px;
}
.award-container .award-wrapper .award-dot {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.award-container .award-wrapper .award-dot .award-dot-list {
  padding-left: 330px;
  display: flex;
  padding-right: 140px;
}
.award-container .award-wrapper .award-dot .award-dot-list li {
  border-top: solid 4px #bbbbbb;
  padding: 14px 0px;
  width: 16.6666666667%;
}
.award-container .award-wrapper .award-dot .award-dot-list li a {
  display: block;
  color: #bbbbbb;
  font-size: 14px;
  width: 80%;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
.award-container .award-wrapper .award-dot .pause-btn {
  width: 60px;
  height: 60px;
  background: url(../../images/ico-pause-default.png) no-repeat center center;
  position: absolute;
  bottom: 0px;
  right: 70px;
  border: solid 2px #bbbbbb;
  border-radius: 50%;
}
.award-container .award-wrapper .award-dot .text-box {
  width: 520px;
  position: absolute;
  left: 0px;
  bottom: 150px;
  padding-left: 330px;
}
.award-container .award-wrapper .award-dot .text-box .content-title {
  font-size: 42px;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 1.5;
  word-break: keep-all;
}
.award-container .award-wrapper .award-dot .text-box .content-title span {
  display: block;
  font-size: 30px;
}
.award-container .award-wrapper .award-dot .text-box .text {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.8;
}

.option-container {
  padding-bottom: 230px;
}
.option-container .opt-list {
  display: flex;
  gap: 40px;
}
.option-container .opt-list .opt-item {
  position: relative;
  top: 0px;
  left: 0px;
  background: url(../../images/space.jpg) no-repeat center center/cover;
  padding-top: 27.55%;
  height: 0px;
  flex-grow: 1;
}
.option-container .opt-list .opt-item:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
}
.option-container .opt-list .opt-item .text-box {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 60px;
  width: 500px;
  z-index: 2;
}
.option-container .opt-list .opt-item .text-box .title {
  color: #ffffff;
  font-size: 26px;
  margin-bottom: 20px;
}
.option-container .opt-list .opt-item .text-box .text {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.8;
  font-family: "genesis-text", "sans-serif";
  margin-bottom: 20px;
}
.option-container .opt-list .opt-item .text-box .link-btn {
  color: #ffffff;
  font-size: 16px;
}
.option-container .opt-list .opt-item .text-box .link-btn span {
  position: relative;
}
.option-container .opt-list .opt-item .text-box .link-btn span:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #ffffff;
  display: block;
  position: absolute;
  left: 0px;
  bottom: -5px;
}
.option-container .opt-list .opt-item .text-box .link-btn span:after {
  content: "";
  width: 0px;
  height: 1px;
  background: #ffffff;
  display: block;
  position: absolute;
  left: 0px;
  bottom: -5px;
  transition: 0.5s;
}
.option-container .opt-list .opt-item .text-box .link-btn:hover span:before {
  display: none;
}
.option-container .opt-list .opt-item .text-box .link-btn:hover span:after {
  width: 100%;
}
.option-container .opt-list .trip {
  background-image: url(../../images/roadtrip.jpg);
}

.event-container {
  width: 100%;
  height: 0px;
  position: relative;
  top: 0px;
  left: 0px;
  background: url(../../images/event.jpg) no-repeat center center/cover;
  padding-top: 50%;
  margin-bottom: 250px;
}
.event-container .text-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 140px;
}
.event-container .text-box .title {
  color: #ffffff;
  font-size: 54px;
  margin-bottom: 54px;
  font-weight: 300;
}
.event-container .text-box .text {
  font-size: 26px;
  margin-bottom: 26px;
  color: #ffffff;
  font-weight: 300;
}
.event-container .text-box .dic-btn {
  width: 240px;
  height: 56px;
  border: solid 2px #ffffff;
  color: #ffffff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns-container {
  padding: 160px 0px 120px;
  background: #ffffff;
}
.sns-container .title-box {
  text-align: center;
  margin-bottom: 70px;
}
.sns-container .title-box .sub-title {
  color: #000000;
  font-size: 18px;
  margin-bottom: 10px;
}
.sns-container .title-box .title {
  font-size: 54px;
  color: #000000;
  font-weight: 300;
}
.sns-container .sns-list {
  display: flex;
  gap: 6px;
}
.sns-container .sns-list li {
  position: relative;
  width: 100%;
}
.sns-container .sns-list li .sns-img {
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  padding-top: 100%;
}
.sns-container .sns-list li .sns-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}
.sns-container .sns-list li:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: 0.5s;
  z-index: 1;
}
.sns-container .sns-list li:hover:after {
  background: rgba(0, 0, 0, 0.7);
}
.sns-container .sns-list li:hover .sns-img img {
  transform: translate(-50%, -50%) scale(1.2);
}
.sns-container .sns-list li:hover .text-box {
  opacity: 1;
}
.sns-container .sns-list li .text-box {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  padding: 0px 40px 30px 60px;
  opacity: 0;
  transition: 0.2s;
}
.sns-container .sns-list li .text-box > .bx {
  font-size: 24px;
  color: #ffffff;
  position: absolute;
  top: -10px;
  left: 30px;
}
.sns-container .sns-list li .text-box .text {
  color: #ffffff;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 28px;
  max-height: 56px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.sns-container .sns-list li .text-box .link-btn {
  font-size: 14px;
  color: #ffffff;
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.sns-container .sns-list li .text-box .link-btn .bx {
  font-size: 16px;
  position: relative;
  top: -3px;
}
.sns-container .sns-list li .text-box .link-btn span {
  position: relative;
  top: 0px;
  left: 0px;
}
.sns-container .sns-list li .text-box .link-btn span:before, .sns-container .sns-list li .text-box .link-btn span:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #ffffff;
}
.sns-container .sns-list li .text-box .link-btn span:after {
  width: 0px;
  transition: 0.5s;
}
.sns-container .sns-list li .text-box .link-btn:hover span:before {
  display: none;
}
.sns-container .sns-list li .text-box .link-btn:hover span:after {
  width: 100%;
}
.sns-container .more-btn {
  width: 240px;
  height: 60px;
  border: solid 1px #111111;
  padding: 0px 16px 0px 26px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #111111;
  background: transparent;
  margin: 60px auto 0px;
}

.more-container {
  background-color: #ffffff;
  padding-bottom: 130px;
}
.more-container .title-box {
  margin-bottom: 40px;
  text-align: center;
}
.more-container .title-box .title {
  font-size: 30px;
  font-weight: 300;
}
.more-container .more-list {
  display: flex;
  gap: 40px;
}
.more-container .more-list li {
  width: 33%;
}
.more-container .more-list li .more-img {
  margin-bottom: 24px;
}
.more-container .more-list li .text-box .title {
  font-size: 18px;
  margin-bottom: 18px;
  font-weight: 300;
}
.more-container .more-list li .text-box .text {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}
.more-container .more-list li .more-link {
  font-size: 16px;
  color: #000000;
}
.more-container .more-list li .more-link:hover span:before {
  width: 0%;
}
.more-container .more-list li .more-link:hover span:after {
  width: 100%;
}
.more-container .more-list li .more-link span {
  position: relative;
  top: 0px;
  left: 0px;
}
.more-container .more-list li .more-link span:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #000000;
  position: absolute;
  bottom: -5px;
  left: 0px;
}
.more-container .more-list li .more-link span:after {
  content: "";
  display: inline-block;
  width: 0%;
  height: 1px;
  background: #000000;
  position: absolute;
  bottom: -5px;
  left: 0px;
  transition: 0.5s;
}

@media screen and (max-width: 1599px) {
  .header-container .inner {
    padding: 0px 100px;
  }
  .header-container .inner .logo {
    width: 100px;
    margin-right: 50px;
  }
  .header-container .inner .gnb .gnb-list {
    gap: 40px;
  }
  .visual-container .visual-list li .visual-text {
    padding: 70px 0px 0px 248px;
  }
  .visual-container .visual-list li .visual-text:after {
    width: 248px;
  }
  .visual-container .visual-list li .visual-text .title {
    font-size: 60px;
  }
  .visual-container .visual-list li .visual-text .text-link a {
    font-size: 14px;
  }
  .visual-container .visual-control .dot-list {
    gap: 12px;
  }
  .visual-container .visual-control .dot-list li {
    width: 6px;
    height: 6px;
  }
  .model-container {
    padding-left: 100px;
  }
  .model-container .inner {
    padding: 0px 100px;
  }
  .model-container .inner .title-box .title {
    font-size: 36px;
  }
  .model-container .inner .title-box .text {
    font-size: 14px;
    margin-top: 14px;
  }
  .model-container .inner .model-wrapper .model-list li {
    padding: 20px;
  }
  .model-container .inner .model-wrapper .model-list li .content-box .text {
    font-size: 14px;
  }
  .model-container .inner .model-wrapper .model-list li .content-box .title {
    font-size: 20px;
  }
  .model-container .inner .model-wrapper .model-list li .dic-btn {
    margin-top: 20px;
  }
  .award-container .title-box {
    padding-left: 240px;
  }
  .award-container .award-wrapper .award-dot .award-dot-list {
    padding-left: 240px;
    padding-right: 100px;
  }
  .award-container .award-wrapper .award-dot .text-box {
    width: 380px;
    padding-left: 240px;
  }
  .award-container .award-wrapper .award-dot .text-box .content-title {
    font-size: 34px;
  }
  .award-container .award-wrapper .award-dot .text-box .content-title span {
    font-size: 34px;
  }
  .award-container .award-wrapper .award-dot .text-box .text {
    font-size: 14px;
  }
  .award-container .award-wrapper .award-dot .pause-btn {
    right: 30px;
  }
  .option-container {
    margin-bottom: 200px;
  }
  .option-container .opt-list .opt-item .text-box {
    padding: 40px;
  }
  .option-container .opt-list .opt-item .text-box .title {
    font-size: 26px;
  }
  .option-container .opt-list .opt-item .text-box .text {
    font-size: 14px;
  }
  .option-container .opt-list .opt-item .text-box .link-btn {
    font-size: 14px;
  }
  .event-container {
    margin-bottom: 210px;
  }
  .event-container .text-box {
    left: 100px;
  }
  .event-container .text-box .title {
    font-size: 42px;
    margin-bottom: 42px;
  }
  .event-container .text-box .text {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .event-container .text-box .dic-btn {
    font-size: 14px;
    width: 200px;
    height: 52px;
  }
  .more-container .inner {
    padding: 0px 100px;
  }
  .more-container .inner .more-list li .text-box .title {
    font-size: 16px;
  }
  .more-container .inner .more-list li .text-box .text, .more-container .inner .more-list li .text-box .link-btn {
    font-size: 14px;
  }
  .f-container .inner {
    padding: 0px 100px;
  }
  .f-container .f-sns .f-sns-left span {
    font-size: 14px;
  }
  .f-container .f-sns .f-top-btn {
    font-size: 14px;
  }
  .f-container .f-sitemap .inner .f-sitemap-list .item strong {
    font-size: 14px;
  }
  .f-container .f-sitemap .inner .f-sitemap-list .item .sub-menu li a {
    font-size: 14px;
  }
  .f-container .f-company .inner .f-company-list li {
    padding: 0px 16px;
  }
  .f-container .f-company .inner .f-company-list li a {
    font-size: 12px;
  }
  .f-container .f-genesis .inner .f-genesis-list {
    width: 630px;
  }
  .f-container .f-genesis .inner .f-genesis-list li a {
    font-size: 12px;
  }
  .f-container .f-genesis .inner .f-genesis-list li a .bx {
    font-size: 14px;
  }
} /*1599*/
@media screen and (max-width: 1359px) {
  .header-container .inner {
    padding: 0px 75px;
  }
  .header-container .inner .gnb .gnb-list {
    gap: 30px;
  }
  .header-container .inner .gnb .gnb-list a {
    font-size: 14px;
  }
  .header-container .inner .h-right .text {
    display: none;
  }
  .header-container .inner .h-right img {
    display: block;
  }
  .header-container .inner .h-right .my-link {
    width: 17px;
  }
  .visual-container .visual-list li .visual-text {
    padding: 90px 0px 0px 228px;
  }
  .visual-container .visual-list li .visual-text:after {
    width: 228px;
  }
  .visual-container .visual-list li .visual-text .sub-text {
    font-size: 18px;
  }
  .visual-container .visual-list li .visual-text .title {
    font-size: 48px;
  }
  .visual-container .visual-list li .visual-text .text-link a {
    font-size: 12px;
  }
  .visual-container .visual-list li .visual-text .text-link a:after {
    background-size: auto 10px;
  }
  .model-container .inner {
    padding: 0px 75px;
  }
  .model-container .inner .title-box .title {
    font-size: 26px;
  }
  .model-container .inner .title-box .text {
    font-size: 12px;
  }
  .model-container .inner .category {
    margin-bottom: 50px;
  }
  .model-container .inner .model-wrapper .model-list {
    gap: 20px;
    margin-bottom: 20px;
  }
  .model-container .inner .model-wrapper .model-list li .content-box .title {
    font-size: 18px;
  }
  .model-container .inner .model-wrapper .model-list li .content-box .text {
    font-size: 13px;
  }
  .model-container .inner .model-wrapper .dot-wrapper .dot-list {
    gap: 10px;
  }
  .model-container .inner .model-wrapper .dot-wrapper .dot-list li {
    width: 6px;
    height: 6px;
  }
  .award-container .title-box {
    padding-left: 220px;
    margin-bottom: 40px;
  }
  .award-container .title-box .title {
    font-size: 26px;
  }
  .award-container .award-wrapper .award-dot .award-dot-list {
    padding-left: 220px;
    padding-right: 75px;
  }
  .award-container .award-wrapper .award-dot .text-box {
    padding-left: 220px;
    width: 270px;
  }
  .award-container .award-wrapper .award-dot .text-box .content-title {
    font-size: 21px;
  }
  .award-container .award-wrapper .award-dot .text-box .text {
    font-size: 12px;
  }
  .option-container {
    margin-bottom: 180px;
  }
  .option-container .opt-list {
    gap: 20px;
  }
  .option-container .opt-list .opt-item .text-box {
    padding: 30px;
    width: 400px;
    margin-bottom: 12px;
  }
  .option-container .opt-list .opt-item .text-box .title {
    font-size: 20px;
  }
  .option-container .opt-list .opt-item .text-box .text {
    font-size: 12px;
  }
  .option-container .opt-list .opt-item .text-box .link-btn {
    font-size: 12px;
  }
  .event-container {
    margin-bottom: 190px;
  }
  .event-container .text-box {
    left: 75px;
  }
  .event-container .text-box .title {
    font-size: 26px;
    margin-bottom: 26px;
  }
  .event-container .text-box .text {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .event-container .text-box .dic-btn {
    font-size: 13px;
    width: 190px;
    height: 48px;
  }
  .more-container {
    padding-bottom: 80px;
  }
  .more-container .inner {
    padding: 0px 75px;
  }
  .more-container .inner .title-box .title {
    font-size: 28px;
  }
  .f-container .inner {
    padding: 0px 75px;
  }
  .f-container .f-company .inner .f-company-list li {
    padding: 0px 10px;
  }
  .f-container .f-genesis .inner .f-genesis-list {
    width: 850px;
  }
} /*1358*/
@media screen and (max-width: 1023px) {
  .header-container .inner {
    padding: 0px 0px 0px 20px;
  }
  .header-container .inner .logo {
    width: 84px;
  }
  .header-container .inner .gnb {
    display: none;
  }
  .header-container .inner .h-right .cs-link,
  .header-container .inner .h-right .search-btn,
  .header-container .inner .h-right .bar {
    display: none;
  }
  .header-container .inner .h-right .my-link {
    margin: 0px;
  }
  .visual-container {
    height: 0px;
    padding-top: 59.62%;
    min-height: 0px;
  }
  .visual-container .visual-list {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .visual-container .visual-list li .visual-text {
    padding: 10px 0px 0px 55px;
  }
  .visual-container .visual-list li .visual-text:after {
    display: none;
  }
  .model-container {
    padding-left: 80px;
  }
  .model-container .inner {
    padding: 0px 20px;
  }
  .award-container .title-box {
    padding-left: 100px;
  }
  .award-container .award-wrapper .award-dot {
    position: static;
  }
  .award-container .award-wrapper .award-dot .award-dot-list {
    padding-left: 0px;
    padding-right: 20px;
    margin-top: 30px;
  }
  .award-container .award-wrapper .award-dot .award-dot-list li a {
    font-size: 12px;
    width: 90%;
  }
  .award-container .award-wrapper .award-dot .pause-btn {
    bottom: 130px;
    width: 50px;
    height: 50px;
  }
  .award-container .award-wrapper .award-dot .text-box {
    padding-left: 100px;
    width: 300px;
  }
  .option-container .opt-list .opt-item {
    padding-top: 64.51%;
    background-image: url(../../images/space-m.jpg);
  }
  .option-container .opt-list .opt-item .text-box {
    width: 300px;
  }
  .option-container .opt-list .trip {
    background-image: url(../../images/roadtrip-m.jpg);
  }
  .event-container .text-box {
    left: 55px;
  }
  .sns-container .sns-list {
    flex-wrap: wrap;
    gap: 10px;
  }
  .sns-container .sns-list li {
    width: calc(50% - 5px);
  }
  .sns-container .sns-list li .sns-img {
    padding-top: 39.1%;
  }
  .sns-container .sns-list li:first-of-type {
    width: 100%;
  }
  .sns-container .sns-list li:first-of-type .sns-img {
    width: 100%;
  }
  .more-container .inner .title-box {
    margin-bottom: 100px;
  }
  .more-container .inner .more-list li .text-box .title {
    font-size: 18px;
  }
  .more-container .inner .more-list li .text-box .text {
    font-size: 16px;
  }
  .f-container .inner {
    padding: 0px 30px;
  }
  .f-container .f-sns .inner .f-sns-left span, .f-container .f-sns .inner .f-sns-left .f-sns-list {
    display: none;
  }
  .f-container .f-sns .inner .f-sns-left .f-sns-btn {
    display: block;
  }
  .f-container .f-notice {
    padding-top: 60px;
  }
  .f-container .f-notice .inner {
    flex-direction: column;
    gap: 60px;
  }
  .f-container .f-sitemap {
    padding: 0px;
  }
  .f-container .f-sitemap .inner {
    padding: 0px;
  }
  .f-container .f-sitemap .inner .f-sitemap-list {
    flex-direction: column;
    gap: 0px;
  }
  .f-container .f-sitemap .inner .f-sitemap-list .item {
    width: 100%;
  }
  .f-container .f-sitemap .inner .f-sitemap-list .item strong,
  .f-container .f-sitemap .inner .f-sitemap-list .item .sub-menu {
    display: none;
  }
  .f-container .f-sitemap .inner .f-sitemap-list .item .sitemap-btn {
    display: flex;
  }
  .f-container .f-company .inner {
    flex-direction: column;
    gap: 20px;
  }
  .f-container .f-company .inner .f-company-list {
    flex-wrap: wrap;
    width: 230px;
    gap: 24px 0px;
    justify-content: center;
  }
  .f-container .f-genesis .inner {
    flex-direction: column;
    gap: 30px;
  }
  .f-container .f-genesis .inner .f-genesis-list {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 0px;
  }
  .f-container .f-genesis .inner .f-genesis-list li {
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    width: 100%;
    padding: 30px 10px 20px;
    box-sizing: border-box;
  }
  .f-container .f-genesis .inner .f-genesis-list li a {
    justify-content: space-between;
  }
  .f-container .f-genesis .inner .f-genesis-list li a .bx {
    order: 1;
  }
  .f-container .f-genesis .inner .f-lang {
    width: 100%;
  }
  .f-container .f-genesis .inner .f-lang a {
    width: 50%;
    height: 48px;
  }
  .f-container .f-copy .f-img {
    display: none;
  }
} /*1023*/
@media screen and (max-width: 767px) {
  .visual-container {
    height: calc(100vh - 70px);
    padding-top: 0px;
  }
  .visual-container .visual-list li {
    background-image: url(../../images/visual01-mobile.jpg);
  }
  .visual-container .visual-list li .visual-text {
    padding: 40px 0px 0px 20px;
  }
  .visual-container .visual-list li .visual-text .text-link {
    flex-direction: column;
    gap: 20px;
    bottom: 80px;
  }
  .visual-container .visual-control {
    bottom: 20px;
  }
  .model-container {
    padding-left: 0px;
    overflow: hidden;
    padding-bottom: 100px;
  }
  .model-container .inner {
    padding: 0px;
  }
  .model-container .inner .title-box {
    padding: 0px 30px;
  }
  .model-container .inner .title-box .title {
    font-size: 30px;
  }
  .model-container .inner .title-box .text {
    font-size: 16px;
  }
  .model-container .inner .category {
    display: none;
  }
  .model-container .inner .category-m {
    display: block;
  }
  .model-container .inner .model-wrapper .model-list {
    gap: 0px;
  }
  .model-container .inner .model-wrapper .model-list li {
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
  }
  .model-container .inner .model-wrapper .model-list li .content-box .title {
    font-size: 25px;
  }
  .model-container .inner .model-wrapper .model-list li .content-box .text {
    font-size: 14px;
  }
  .icon-container {
    padding: 0px;
    padding-bottom: 80px;
  }
  .icon-container .inner {
    padding: 0px;
  }
  .icon-container .inner .icon-list {
    flex-direction: column;
    justify-content: start;
  }
  .icon-container .inner .icon-list li {
    width: 100%;
    border-top: solid 1px rgba(255, 255, 255, 0.5);
    padding-left: 40px;
    box-sizing: border-box;
  }
  .icon-container .inner .icon-list li a {
    justify-content: start;
    background-position: left top 30px;
    padding: 40px;
    background-size: 30px;
    align-items: center;
  }
  .award-container .title-box {
    padding-left: 30px;
    margin-bottom: 60px;
  }
  .award-container .title-box .title {
    font-size: 30px;
  }
  .award-container .award-wrapper {
    overflow: hidden;
  }
  .award-container .award-wrapper .award-dot .award-dot-list {
    padding: 0px 30px;
    overflow: hidden;
  }
  .award-container .award-wrapper .award-dot .award-dot-list li {
    width: 72%;
    flex-shrink: 0;
  }
  .award-container .award-wrapper .award-dot .award-dot-list li:nth-of-type(1) {
    border-top-color: #ffffff;
  }
  .award-container .award-wrapper .award-dot .award-dot-list li a {
    font-size: 14px;
  }
  .award-container .award-wrapper .award-dot .pause-btn {
    display: none;
  }
  .award-container .award-wrapper .award-dot .text-box {
    position: static;
    width: 100%;
    padding: 0px 30px;
    box-sizing: border-box;
    margin-top: 50px;
  }
  .award-container .award-wrapper .award-dot .text-box .content-title {
    font-size: 32px;
  }
  .award-container .award-wrapper .award-dot .text-box .text {
    font-size: 16px;
  }
  .option-container {
    margin-bottom: 150px;
  }
  .option-container .opt-list {
    flex-direction: column;
  }
  .option-container .opt-list .opt-item {
    padding-top: 133%;
  }
  .option-container .opt-list .opt-item .text-box {
    width: 100%;
    box-sizing: border-box;
  }
  .option-container .opt-list .opt-item .text-box .title {
    font-size: 30px;
    margin-bottom: 14px;
  }
  .option-container .opt-list .opt-item .text-box .text {
    font-size: 14px;
    margin-bottom: 14px;
  }
  .option-container .opt-list .opt-item .text-box .link-btn {
    font-size: 14px;
  }
  .event-container {
    margin-bottom: 150px;
    padding-top: 170.66%;
    background-image: url(../../images/event-m.jpg);
  }
  .event-container .text-box {
    width: 100%;
    padding: 0px 30px;
    box-sizing: border-box;
    left: 0px;
  }
  .event-container .text-box .title {
    font-size: 36px;
    margin-bottom: 36px;
  }
  .event-container .text-box .text {
    font-size: 26px;
    margin-bottom: 26px;
  }
  .event-container .text-box .dic-btn {
    width: 100%;
    height: 56px;
    font-size: 16px;
  }
  .sns-container .sns-list {
    gap: 0px;
  }
  .sns-container .sns-list li {
    width: 100%;
  }
  .sns-container .sns-list li:first-of-type .sns-img {
    padding-top: 100%;
  }
  .sns-container .sns-list li .text-box {
    position: relative;
    opacity: 1;
    padding: 20px 30px 40px;
  }
  .sns-container .sns-list li .text-box .bx {
    left: 30px;
    top: -40px;
  }
  .sns-container .sns-list li .text-box .text {
    color: #000000;
    font-size: 14px;
    line-height: 1.5;
  }
  .sns-container .sns-list li:after {
    display: none;
  }
  .sns-container .more-btn {
    width: calc(100% - 60px);
    height: 56px;
    margin: 0px auto;
  }
  .more-container {
    padding-bottom: 70px;
  }
  .more-container .inner {
    padding: 0px 30px;
  }
  .more-container .inner .title-box {
    margin-bottom: 12px;
  }
  .more-container .inner .more-list {
    flex-direction: column;
    gap: 70px;
  }
  .more-container .inner .more-list li {
    width: 100%;
  }
} /*768*/