@font-face{
    font-family: 'genesis-light';
    src: url(../../fonts/GenesisSansHeadOffice-Light.woff2) format('woff2');
    font-style: normal;
    font-weight: 300;
}
@font-face{
    font-family: 'genesis-re';
    src: url(../../fonts/GenesisSansHeadOffice-Regular.woff2) format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face{
    font-family: 'genesis-text';
    src: url(../../fonts/GenesisSansTextOffice-Regular.woff2) format('woff2');
    font-weight: 300;
    font-style: none;
}