$desktop : 1599px;
$desktop02 :1359px;
$tablet : 1023px;
$mobile : 767px;

$title : 'genesis-light','sans-serif';
$title-re : 'genesis-re','sans-serif';
$text : 'genesis-text','sans-serif';

$textColor : #bbbbbb;
$textColor02 : #262626;

$textBlack : #000000;
$textWhite : #ffffff;